
<h1 class="text-center text-info">Welcome to Admin panel</h1>
<div class="w-25 mx-auto" [class.hide]="logged">
  <h3 class="text-center">Please login to see and add users</h3>
  <div *ngIf="error!=''" class="alert alert-danger">{{error}}</div>
  Username: <input type="text" class="form-control" [(ngModel)] = "inp.username" >
  Password: <input type="password" class="form-control" [(ngModel)] = "inp.password" >
  <button class="btn btn-success" (click)= "login()">Login</button>
</div>
<app-admin [class.hide]="!logged"></app-admin>